* {
  margin: 2px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --cor-primaria: #006469;
  --cor-secundaria: #00466e;
  --cor-fundo-claro: #f5f5f5;
  --cor-texto: #000000;
  --cor-hover: #286b75;
}

body { font-family: Arial, sans-serif; }

header {
  background: linear-gradient(to right, var(--cor-primaria), var(--cor-secundaria));
  color: white;
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: row;
  align-content: center;
  border-radius: 10px;
}

h1 { font-size: 2rem; }

@media (max-width: 768px) {
  h1 { font-size: 1.5rem; }
}

.gallery img { margin-bottom: 1rem; }

input:invalid, select:invalid { border-color: #dc3545; }
input:valid, select:valid { border-color: #28a745; }

footer {
  background: linear-gradient(to right, var(--cor-primaria), var(--cor-secundaria));
  text-align: center;
  gap: 0rem;
  color: white;
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  align-content: center;
  border-radius: 10px;
}